.profile {
  display: flex;
  justify-content: center;

  height: 92vh;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  height: 50vh;
  width: 30vw;

  p {
    margin-top: 1rem;
  }
}

.sign-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
}

.sign-backdrop {
  height: 50vh;
  width: 30vw;
  position: absolute;
  left: 33.5vw;
  top: 26.5vh;
  background-color: #fafafa;
}

.login-container {
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 23vh;
  input {
    margin: 1rem;
    padding: 0.4rem;
    outline: none;
    border: none;
    width: 23vw;
    font-size: 1rem;
  }

  button {
    width: 40%;
    height: 3vh;
    margin-top: 2rem;
    font-size: 100%;
    outline: none;
    border: none;
    padding: 0rem 0.4rem;
    transition: all ease-in 0.2s;
    position: absolute;
    bottom: 0;
    &:hover {
      background-color: rgb(0, 186, 254);
      cursor: pointer;
      width: 45%;
      height: 3.5vh;
    }
  }
}

.signUp-container {
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 28vh;
  input {
    margin: 1rem;
    padding: 0.4rem;
    outline: none;
    border: none;
    width: 23vw;
    font-size: 1rem;
  }

  button {
    width: 40%;
    height: 3vh;
    margin-top: 2rem;
    font-size: 100%;
    outline: none;
    border: none;
    padding: 0rem 0.4rem;
    transition: all ease-in 0.2s;
    position: absolute;
    bottom: 0;
    &:hover {
      background-color: blue;
      cursor: pointer;
      width: 45%;
      height: 3.5vh;
    }
  }
}

.profile-password-container {
  position: relative;
}
.profile-nouser-container {
  text-align: center;
  p {
    margin-top: 1rem;
  }
}

.message-container {
  height: auto;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 30px;
  color: red;
}

.icon {
  position: absolute;
  bottom: 22px;
}

.profile-header-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  height: 30vh;
  width: 60%;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1rem;
  }
}

.profile-identifier-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 9vh;
}

.profile-detail-container {
  display: flex;

  width: 50%;
  justify-content: space-between;
}

.profile-description-container {
  width: 45%;
  height: auto;
  overflow: hidden;
}
.edit-btn-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-profile {
  outline: none;
  border: none;
  padding: 0.5rem 0.5rem;

  cursor: pointer;
  font-family: "Raleway", sans-serif;
}

.settings-btn {
  font-size: 1.2rem;
  cursor: pointer;
}
//______________________________________________________________________________
//EDIT PROFILE STYLES

.edit-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}
.edit-header-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  width: 45%;

  .arrow-left {
    position: absolute;
    left: 0;
    font-size: 1rem;
    cursor: pointer;
  }
}

.edit-content-container {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;

  input {
    border: 1px solid darkgrey;
    padding: 0.2rem 0.2rem;
    font-size: 1rem;
    background-color: #fafafa;
  }

  textarea {
    border: 1px solid darkgrey;
    padding: 0.2rem 0.2rem;
    font-size: 1rem;
    background-color: #fafafa;
    resize: vertical;
    outline: none;
    font-family: "Raleway", sans-serif;
  }
}

.edit-profile-submit {
  outline: none;
  padding: 0.5rem 0.5rem;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}
